In [1]:
import pandas as pd
import requests as r
import json
from sqlalchemy import create_engine, inspect, Table, Column
import numpy as np
import asyncio
import sys
import math as m
import progressbar
from aiohttp import ClientSession, TCPConnector
from args_reader import read_args
from interlex_sql import interlex_sql
from args_reader import read_args
from scicrunch_client_fast_mod import scicrunch


args = read_args(keys='../keys.txt', beta='-b')
sql = interlex_sql(engine_key=args['engine_key'])
sci = scicrunch(key='api_key', base_path=args['base_path'])

In [14]:
engine=create_engine(args['engine_key'])
data = """
select ts.* from term_superclasses as ts
"""
synonyms_df = pd.read_sql(data, engine)

In [15]:
synonyms_df.loc[synonyms_df.tid == 38918]

          id    tid  superclass_tid  version        time
46502  49298  38918             146       22  1521055148

In [2]:
df=sql.get_existing_ids()

In [5]:
%%time
df.loc[df.tid == 38918].to_dict('records')

AttributeError: 'Series' object has no attribute 'int'

In [ ]:
inputfile = ''

In [18]:
data=json(open(inputfile, 'r'))

In [ ]:
#get it into list of dicts with proper keys

In [ ]:
for d in data:
    
    d['id'] = label_to_id(d['label'].lower().strip())
    
    if d.get('synonyms'):
        params['synonyms'] = [{'literal':d['synonyms']}]

    if d.get('superclass_ilx'):
        params['superclasses'] = [{
                'label':d['superclass_label'],
                'ilx':d['superclass_ilx'],
                'superclass_tid':d['superclass_tid']
            }]
        
    if d.get('existing_ids'):
        'existing_ids':[{
            'tid':d['id'],
            'curie':d['curie'],
            'iri':d['iri'],
            'preferred':0,
            'change':False
        }],

In [ ]:
outputfile = ''

In [ ]:
with open(outputfile, 'w') as f:
    json.dump(data, f, indent=4)