In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import json
from sqlalchemy import create_engine, inspect, Table, Column
import pandas as pd
from ilxutils.args_reader import read_args
from ilxutils.scicrunch_client import scicrunch
import sys
import time
from ilxutils.interlex_sql import interlex_sql
import re
from collections import defaultdict
from IPython.core.display import display
import subprocess as sb
import pickle
from pathlib import Path as p
import requests as r
from ilxutils.ttl2pd import *
import difflib
def degrade(var):
    def helper(s):
        return str(re.sub("\(|\)|'|,", "", s).lower().strip())
    if type(var)!=list:
        if var:
            return helper(var)
        else:
            return var
    else:
        return [helper(v) if v else v for v in var]
def cj(data, output):
    json.dump(data, open(output+'.json', 'w'), indent=4)
    print('Complete')
def oj(infile):
    try:
        return json.load(open(infile, 'r'))
    except:
        sys.exit('File does not exist')
args = read_args(api_key= p.home() / 'keys/production_api_scicrunch_key.txt', db_url= p.home() / 'keys/production_engine_scicrunch_key.txt', production=True)
sql = interlex_sql(db_url=args.db_url)
sci = scicrunch(api_key=args.api_key, base_path=args.base_path, db_url=args.db_url)

In [2]:
terms = sql.get_terms()
annos = sql.get_annotations()

In [3]:
annos.head()

,id,item_id,label,ilx,anno_tid,anno_label,anno_ilx,tid,annotation_tid,value
0,38201,182,Abnormal Involuntary Movement Scale,ilx_0100181,15074,hasConstraint,ilx_0115071,182,15074,categories : Questionnaire
1,38202,182,Abnormal Involuntary Movement Scale,ilx_0100181,15074,hasConstraint,ilx_0115071,182,15074,status : Published
2,38208,182,Abnormal Involuntary Movement Scale,ilx_0100181,15074,hasConstraint,ilx_0115071,182,15074,dataType : Clinical Assessments
3,38216,182,Abnormal Involuntary Movement Scale,ilx_0100181,15074,hasConstraint,ilx_0115071,182,15074,sources : NDAR; NDCT; RDoC
4,38220,182,Abnormal Involuntary Movement Scale,ilx_0100181,15074,hasConstraint,ilx_0115071,182,15074,modifiedDate : 1515012631513

In [4]:
annos[annos.id == 2109347]

,id,item_id,label,ilx,anno_tid,anno_label,anno_ilx,tid,annotation_tid,value
1850131,2109347,265034,adas10 (Alzheimer&#39;s Disease Assessment Sca...,ilx_0346303,15074,hasConstraint,ilx_0115071,265034,15074,my_test

In [5]:
terms[terms.id == 265034]

,id,ilx,orig_uid,orig_cid,uid,cid,label,definition,comment,type,version,status,display_superclass,orig_time,time
265029,265034,ilx_0346303,0,0,0,0,adas10 (Alzheimer&#39;s Disease Assessment Sca...,Word-Finding Difficulty in Spontaneo,,cde,4,0,1,1515641451,1524592805

In [4]:
types = []
for i, row in annos[annos.anno_label.str.contains('hasConstraint')].iterrows():
    types.append(str(row.value).split(':')[0])
for typ in set(types):
    print(typ, types.count(typ))

here i am 1
sources  2262
condition  263985
size  263985
valueRange  263985
dataType  2255
id  263985
categories  2255
filterElement  263985
status  2255
type  263985
required  263985
modifiedDate  2255
notes  264574

In [5]:
for typ in set(types):
    if types.count(typ) < 20000:
        print(types)

here i am
sources
dataType
categories
status
modifiedDate